* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    min-height: 100vh;
    font-size: 45px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding: 4vh;
    border: 1vh solid skyblue;
    border-radius: 1vh;
}

[class ^="row-"] {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 4vh;
    height: calc(100vh /3);
    gap: 4vh;
}

[class ^="box-"] {
    display: flex;
    border: 1px solid black;
    border-radius: 9px;
    background-color: #c1c1c1c1;
    justify-content: center;
    align-items: center;
    flex-basis: calc(100% / 3);
}

@media( max-width: 480px) {
    [class^="row-"] {
        flex-direction: column;
        height: 400px;
    }
}